Functional Requirements
  - Ability to look at individual listings (based on filtered criteria)
  - Users able to create an account on the website (but optional)
  - After account creation, the account holder shall be able to save/add cars to a list
  - Ability to share entries/listings with others (minimum a link, ideally thru email/phone)
  - Ability to report suspicious/over-listed listings/cars (ensure cannot be abused)
  // - Update car data daily by requesting API //: may not be able to do due to licensing
  // - Site displays recently sold price for specifically searched car (if applicable/possible) //: will have to be either not done or be an estimate based on available car .csv data
  - Separate webpages for homepage/login/logged-in-user homepage/saved vehicles
  - Must not save user vehicle information when getting prices checked (per API licensing), rather be outputted on the webpage itself
  - Vehicle data must only be of .csv format, system programs (such as data creation and analysis) as .py (or Python based);
  
Non-Functional Requirements
  - Ease of use
  - Clean UI
  - Quick feedback when price-checking
  - Display (limited) vehicle information without having to look at a car specifically
  - Multiple landing pages (homepage, buy page, sell page, login, terms/about)
