{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About</h1>

<p>Welcome to 1-Stop Car Shop! This free software combines “all present market listings” (simulated data) for new and used cars onto one website (by means of a large, 
    constantly updating database of cars) with recently sold car prices included (if applicable) and provides a way to have your car’s price estimated instantly. Save time 
    by using the functionalities of our web service, rather than finding each function of the service on a different site!
</p>

<p>This web service was created mainly as a team-based class project for CS3300 at the University of Colorado Colorado Springs by Computer Science students John Camargo, 
    Jackson Seales, Kylie Sanchez, and Lucas Estevez</p>

<h2>Why 1-Stop Car Shop?</h2>

<ul class="custom-list">
    <li>On automobile shopping sites, of which there are many, browsing is tedious as listings are not shared</li>
    <li>Many options exist for sites to use when pricing (or getting an offer for) an existing car</li>
    <li>Generally little to no information on recently sold vehicles (i.e. price, most recent sale location)</li>
</ul>

<h3>Links</h3>

<p>Find out more about the 1-Stop Car Shop software, and reach out!</p>

<ul>
    <li><a href="https://github.com/LucasJEstevez/CS3300-Semester-Project" target="_blank"><i class="fa fa-github" style="font-size: 2em;"></i> GitHub Repository</a></li>
    <li><a href="{{ url_for('contact_page') }}">Contact Us</a></li>
    <li><a href="{{ url_for('license_page') }}">Terms</a></li>
</ul>

</html>

{% endblock %}
