{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<html>
<body>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1>Contact Us</h1>

<h4>If you have any questions or need further assistance, feel free to reach out to us!</h4>

<p><i class="fa fa-envelope" style="font-size: 1.5em; margin-right: 10px;"></i> @onestopcarshopuccs@gmail.com</p>
<a href="https://github.com/LucasJEstevez/CS3300-Semester-Project" target="_blank"><i class="fa fa-github" style="font-size: 2em;"></i> Visit our GitHub Repository</a><br>
 
</body>
</html>
{% endblock %}