{% extends "base.html" %}

{% block title %}Sell{% endblock %}

{% block content %}
<html>
<body>

<h1>Sell Your Car!</h1>

<h2 id="welcome_header">Click Me!</button>
<br><br><br><br>
<form name="login_form" id="login_form">
    <label for="username">Username or Email:</label>
    <input type="text" id="username" name="username" >
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" >
    
    <br>
    <h4 type="error" id="usererror_display" style="color:#ff0000"></h4>
    <h4>Forgot Password? <a href="forgot_password.html">Account Recovery</a></h4>
    <h4>Don't have an account? <a href="{{ url_for('register_page') }}">Register</a></h4>
    </form>
  <button type="submit" onclick="login()">Submit</button>

<script>
window.onload = function() {
    const token = localStorage.getItem("access_token");
    let loggedIn = false;

    if (token) {
        fetch('/isValidToken', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            if (data.isValid) {
                loggedIn = true;
                document.getElementById("usererror_display").innerHTML = `Welcome, ${data.username}!`;
            } else {
                document.getElementById("usererror_display").innerHTML = 'Invalid token or user not found.';
            }
        })
        .catch(error => {
            console.error('Error during request:', error);
            document.getElementById("usererror_display").innerHTML = 'Request failed: ' + error.message;
        });
    } else {
        document.getElementById("usererror_display").innerHTML = 'No token found.';
    }
}
</script>
</body>
</html>

{% endblock %}