{% extends "base.html" %}

{% block title %}Sell{% endblock %}

{% block content %}
<html>
<body>

<h1>Sell Your Car!</h1>

<h2 id="welcome_header">Click Me!</button>
<br><br><br><br>
<form name="login_form" id="login_form">
    <label for="username">Username or Email:</label>
    <input type="text" id="username" name="username" >
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" >
    
    <br>
    <h4 type="error" id="usererror_display" style="color:#ff0000"></h4>
    <h4>Forgot Password? <a href="forgot_password.html">Account Recovery</a></h4>
    <h4>Don't have an account? <a href="{{ url_for('register_page') }}">Register</a></h4>
    </form>
  <button type="submit" onclick="login()">Submit</button>

<script>
window.onload = function(){
    const token = localStorage.getItem("access_token");
    if(token){

    }
    else{
        document.getElementById("welcome_header").style.color="red";
        document.getElementById("welcome_header").innerHTML = "Must Sign In to Sell Your Car";
    }
}
</script>
</body>
</html>

{% endblock %}