{% extends "base.html" %}

{% block title %}Sign-In{% endblock %}

{% block content %}

<div class="main">
    <h2>Log In</h2>
    <div class="fakeimg" style="height: 160px; background-color: rgba(77, 121, 204, 0.5);">
      <form name="login_form" id="login_form">
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" >
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >
        
        <br>
        <h4 type="error" id="usererror_display" style="color:#ff0000"></h4>
        <h4>Forgot Password? <a href="forgot_password.html">Account Recovery</a></h4>
        <h4>Don't have an account? <a href="{{ url_for('register_page') }}">Register</a></h4>
        </form>
      <button type="submit" onclick="login()">Submit</button>
    </div>
        
  </div>

<script>
  function login(){
    // Get login information from text boxes
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
  
    // Check if username is empty
    if (username == '') {
        document.getElementById("usererror_display").innerHTML = "Error: Username cannot be empty";
    }

    // Check if password is empty
    else if (password == '') {
        document.getElementById("usererror_display").innerHTML = "Error: Password cannot be empty";
    }

    else {

      // Creates data to send to server
      var formData = {
          username: username,
          password: password
      };

      // Use fetch to send data via POST to the correct Flask endpoint
      fetch('http://localhost:5000/login', {  // Route to Flask, will need to change
          method: 'POST',
          headers: {'Content-Type': 'application/json' },
          body: JSON.stringify(formData)
      })

      // Get and handle response from server
      .then(response => response.json())
      .then(data => {
          console.log(data);
          if (data.message === 'Login successful!') {
              document.getElementById("usererror_display").innerHTML = "good login, change this";
          } else {
              document.getElementById("usererror_display").innerHTML = data.message;
          }
      })

      //Error handling
      .catch(error => {
          console.error('Error during form submission:', error);
          
          document.getElementById("usererror_display").innerHTML = 'Request failed: ' + error.message;
      });
    }
  }
</script>
</body>
</html>

{% endblock %}