{% extends "base.html" %}

{% block content %}

<!--Test to display over background image-->
<div class="header">
  <h1 style="background-color: rgba(77, 121, 204, 0.5); display: inline-block;">1-Stop Car Shop</h1>
</div>


<div class="navbar">
  <a href=""> </a> 
  <!--<a href="">Link2</a>
  <a href="">Link3</a>-->
  <a href="{{ url_for('buy_test_page') }}" class="right">About</a>
</div>

<div class="container">
  <h2>Vehicle Price Estimator</h2>
  <h4>This price estimator will give you an instant estimation of your car's price. Just fill in each field with your cars specific information!</h4>
  <div class = "fakeimg" style = "height:200px; background-color: rgba(17, 62, 145, 0.6); text-align: center;">
    <form action="/price_prediction" method="post">
      <label for="vin">VIN:</label> 
      <input type="text" id="vin" name="vin" >

      <label for="miles1">Miles:</label>
      <input type="number" id="miles1" name="miles1" ><br>

      <b><br>Or<br></b><br>

      <label for="make">Make:</label>
      <input type="text" id="make" name="make" >

      <label for="model">Model:</label>
      <input type="text" id="model" name="model" >

      <label for="year">Year:</label>
      <input type="number" id="year" name="year" >

      <label for="miles2">Miles:</label>
      <input type="number" id="miles2" name="miles2" >

      <label for="Trim">Trim:</label>
      <input type="text" id="trim" name="trim" ><br>

      <br>
      <button type="submit">Submit</button>
    </form>

          <!-- Error message display -->
          {% if error %}
          <div style="color: #ff0000; margin-top: 20px; text-align: center;">
            {{ error }}
          </div>
          {% endif %}
          
  </div>
      
</div>

<!-- Modal for displaying results -->
<div id="resultModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Prediction Result</h2>
    <p id="modalContent"></p>
  </div>
</div>

<script src="../static/CSS_Files/changeloginbuttons.js"></script>
<script>
  // Function to show the modal
  function showModal(content) {
    document.getElementById("modalContent").innerHTML = content;
    document.getElementById("resultModal").style.display = "block";
  }

  // Function to close the modal
  function closeModal() {
    document.getElementById("resultModal").style.display = "none";
  }
</script>

</body>
</html>

{% endblock %}