{% extends "base.html" %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<style>
  h1 {
    font-family: 'Russo One', sans-serif;
  }
</style>

<!--Test to display over background image-->
<div class="header">
  <h1 style="color: rgba(77, 121, 204); background-color: rgba(0, 0, 0, 0.6); display: inline-block;
  text-shadow: 2px 2px #d5cfcf; border-radius: 10px; padding: 20px;">1-Stop Car Shop</h1>
</div>


<div class="navbar">
  <a href=""> </a> 
  <!--<a href="">Link2</a>
  <a href="">Link3</a>-->
  <a href="{{ url_for('about_page') }}" class="right">About</a>
</div>

<div class="container">
  <h2>Vehicle Price Estimator</h2>
  <h4>This price estimator will give you an instant estimation of your car's price. Just fill in each field with your cars specific information!</h4>
  <div class = "fakeimg" style = "height:200px; background-color: rgba(17, 62, 145, 0.6); text-align: center;">
    <form action="/price_prediction" method="post">
      <label for="vin">VIN:</label> 
      <input type="text" id="vin" name="vin" >

      <label for="miles1">Miles:</label>
      <input type="number" id="miles1" name="miles1" ><br>

      <b><br>Or<br></b><br>

      <label for="make">Make:</label>
      <input type="text" id="make" name="make" >

      <label for="model">Model:</label>
      <input type="text" id="model" name="model" >

      <label for="year">Year:</label>
      <input type="number" id="year" name="year" >

      <label for="miles2">Miles:</label>
      <input type="number" id="miles2" name="miles2" >

      <label for="Trim">Trim:</label>
      <input type="text" id="trim" name="trim" ><br>

      <br>
      <button type="submit">Submit</button>
    </form>

          <!-- Error message display -->
          {% if error %}
          <div style="color: #ff0000; margin-top: 20px; text-align: center;">
            {{ error }}
          </div>
          {% endif %}
          
  </div>
      
</div>

<!-- Modal for displaying results -->
<div id="resultModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Prediction Result</h2>
    <p id="modalContent"></p>
  </div>
</div>


<script>
  // Function to show the modal
  function showModal(content) {
    document.getElementById("modalContent").innerHTML = content;
    document.getElementById("resultModal").style.display = "block";
  }

  // Function to close the modal
  function closeModal() {
    document.getElementById("resultModal").style.display = "none";
  }

  window.onload = function () {
  {% if prediction %}
  var price = {{ prediction['predicted_price'] }};
      var make = "{{ prediction['specs']['make'] }}";
      var model = "{{ prediction['specs']['model'] }}";
      var year = "{{ prediction['specs']['year'] }}";
      var trim = "{{ prediction['specs']['trim'] }}";
      
      var content = "<h4>Predicted Price: $" + price.toFixed(2) + "</h4>";
      content += "<p>Details:</p>";
      content += "<ul style='list-style-type: none; padding-left:0;'>";
      content += "<li>Make: " + make + "</li>";
      content += "<li>Model: " + model + "</li>";
      content += "<li>Year: " + year + "</li>";
      content += "<li>Trim: " + trim + "</li>";
      content += "</ul>";
    showModal(content);
  {% endif %}
};

</script>

<script src="../static/CSS_Files/changeloginbuttons.js"></script>

</body>
</html>

{% endblock %}